[undercloud]
<instack-ip>  ansible_ssh_user=<instack-user>    ansible_ssh_private_key_file=<path-to-private-key>

[undercloud:vars]
# Destination directory of the tripleo-common repository.
tripleo_common_directory=/home/stack/tripleo-common
rhci_tripleo_api_directory=/home/stack/rhci-tripleo-api

# Destination directory of the tripleo-ui repository.
tripleo_ui_directory=/home/stack/tripleo-ui

# RHCI repo url: Please set if you want the RHCI API to be installed.
# rhci_repo_url = 

#install from source
#export DIB_INSTALLTYPE_puppet_modules=source

